/* Task 1 Start */
/* div{
    text-align: center;
    height: 100px;
    width: 400px;
    padding: 30px;
    border: 2px solid green;
}
p{
    padding: 30px;
    border: 2px solid;
    border-color: inherit;
    background-color: #ddd;
} */
/* Task 1 End */