/* Task 1 Start */
/* div{
    text-align: center;
    height: 100px;
    width: 400px;
    padding: 30px;
    border: 2px solid green;
}
p{
    padding: 30px;
    border: 2px solid;
    border-color: inherit;
    background-color: #ddd;
} */
/* Task 1 End */

/* Task 2 Start */
/* .one{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
}
.two{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
.three{
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
} */
/* Task 2 End */